.DS_Store
.env

__pycache__/
*.pyc
*.egg-info/

extraction/.meltano/
extraction/venv/

transform/venv/
transform/.dbt/
transform/dbt_packages/
transform/package-lock.yml
transform/logs/
transform/target/
transform/.user.yml
transform/profiles.yml
